---
layout: home
title: Joel Bradbury
---
<div class="blurb">
<p><span class="big">Hello</span> My name's <span class="name">Joel Bradbury</span></p>
<p>I'm a  developer based in North Wales. Professionally I work at the design agency <a href="http://www.viewcreative.co.uk">View Creative</a> turning <em>crafted</em> designs into the real thing, while trying to avoid calls & emails</p>

<p>I live in North Wales with my brilliant wife <a href="http://flickr.com/photos/gemmabradbury">Gemma</a> and naughty dog <a href="http://www.flickr.com/photos/gemmabradbury/sets/72157617508065557/">Mr Jones</a></p>

</div>
</div>

- site.collated_posts.sort.reverse.each do |year,months|
  .year
    %h2.year= year
    - months.sort.reverse.each do |month,days|
      %h3.month= Date::MONTHNAMES[month]
      %ul.posts
        - days.sort.reverse.each do |day,posts|
          - posts.each do |post|
            %li
              %strong.date= "%02d" % day
              = post_link(post)
