<div class="wrap foot">
	<div class="footer">
    <div class="blurb">
		<p>My name's Joel Bradbury. Professionally I push bits around, to make other bits do things people want. Personally, I do pretty much the same. If you feel motivated to, email me : hi@[[this.domain]] <a href="/about.html">about</a></p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/joelbradbury/">github.com/joelbradbury</a><br />
        <a href="http://twitter.com/joelbradbury/">twitter.com/joelbradbury</a><br />
        <a href="http://flickr.com/photos/joelbradbury/">flickr.com/photos/joelbradbury</a>
      </p>
    </div>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1768584-6");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>