/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;

}

body {
	border-top:7px solid #333;
  background-color: #222;
  color:#ccc;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
	margin-bottom:7px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
	text-align:left;
  margin-bottom: 1em;
	font-size: 62px;
	text-shadow: 1px 1px 3px #666666, -2px -1px 3px #000000;
	color:#eee;
	line-height:100%;
}
h2 { font-size : 24px;}

p {
  margin: 1em 0;
}

a {
  color: #779;
	text-decoration:none;
}

a:hover {
  color: #ccc;
	text-decoration:underline;
}

a:visited {
  color: #889;
}

table {
  font-size: inherit;
  font: 100%;
}
blockquote { 
	padding: 1px 30px;
	background: #333;
	border : 1px solid #444;
	}
em { font-weight: bold;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }
 p.meta,
  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
#home { padding-top:40px;}
#home h2 { padding-bottom: 18px;}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

#title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
  border-bottom: 1px solid #333;
}

 .site #title a {
	color:#000;
   text-decoration: none;
	margin-bottom:40px;
	display:block;
 }

  .site #title a:hover {
    color: #eee;
  }

  .site #title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site #title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 1px solid #333;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
 			width : 30%;
    }
		.site .footer .blurb {
      float: left;
 			width : 65%;
			margin-right:5%;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
	padding-bottom:40px;
	border-bottom: 1px solid #333;
}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

/* specifics */

/* war */
body.war_over { 
	background: transparent url(http://www.berttimmermans.com/wp-content/themes/BertTimmermans/img/main_bg.jpg) repeat scroll 0 0;
	border-top: 7px solid rgba(154, 128, 79, 0.9);
	color:#333;}
.war_over h1 { 
	color: #AB231D;
	text-align: center;
	font-weight: lighter;
	font-size:40px;
	text-shadow :1px 1px 3px #FFFFFF, -2px -1px 3px #A2231F;line-height:75%;}
.war_over h1 span.main { display:block; font-weight:bold; font-size: 108px; line-height:75%;}
.war_over ul.posts span { color: #555; }
.war_over a,.war_over .footer .contact a  { color:#aa1111; }
.war_over a:visited,.war_over .footer .contact a:visited { color : #ee1111;}
.war_over .footer { color: #333;}

/* about */
body.about .site { width: 935px; margin-top: 0;}
.about h1 { font-size: 30px; padding-top:25px;}
.about .cols { -moz-column-count: 2; -moz-column-gap: 30px;}
.about .site #title { border-bottom: none; margin-bottom: -28px;}
.about .site #title a { margin-bottom: 20px; margin-top:27px;}
.about { background : transparent url(/assets/images/about_body.jpg) repeat scroll 0 0; border-top:7px solid #3F3B33;}