<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Joel Bradbury" />
	 <link href="http://feeds.feedburner.com/JoelBradbury" rel="alternate" title="Joel Bradbury" type="application/atom+xml" />
   <link rel="stylesheet" href="/assets/css/screen.css" type="text/css" media="screen, projection" />
	 <link href="/assets/images/favicon.gif" rel="shortcut icon" type="image/ico" />	
</head>
<body class="{{ page.body }}">

<div class="site">
  <div id="title">
	  <a id="home_main" href="/">Joel Bradbury</a> <a id="home_extra" href="/about">about</a>
  </div>  
  {{ content }}
    <div class="footer">
	    <div class="blurb">
			<p>My name's Joel Bradbury. Professionally I push bits around, to make other bits do things people want. Personally, I do pretty much the same. If you feel motivated to, email me : mail@[[this.domain]] <a href="/about">about</a></p>
	    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/joelbradbury/">github.com/joelbradbury</a><br />
        <a href="http://twitter.com/joelbradbury/">twitter.com/joelbradbury</a><br />
        <a href="http://flickr.com/photos/joelbradbury/">flickr.com/photos/joelbradbury</a>
      </p>
    </div>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1768584-6");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
