<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Joel Bradbury" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
	<div class="site">
  <div class="title">
		<h1><a href="/">Hello</a>My Name's Joel</h1>
  </div>

  {{ content }}
  
  <div class="footer">
    <div class="blurb">
		<p>My name's Joel Bradbury, and I'm a developer from North Wales. My name's Joel Bradbury, and I'm a developer from North Wales. My name's Joel Bradbury, and I'm a developer from North Wales. </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/joelbradbury/">github.com/joelbradbury</a><br />
        <a href="http://twitter.com/joelbradbury/">twitter.com/joelbradbury</a><br />
        <a href="http://flickr.com/photos/joelbradbury/">flickr.com/photos/joelbradbury</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
